.page-not-found-wrapper {
    display: flex;
    height: 100vh;
    background-color: #f8f8f8;
}

.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 550px auto;
}

.page-not-found h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.page-not-found p {
    font-size: 1.5rem;
    color: #888;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.logo {
    height: 80px;
    cursor: pointer;
}

.app-name {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    display: flex;
    height: calc(100vh - 80px);
}

.side-bar {
    background-color: #f5f5f5;
    padding: 20px;
    width: 20%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/task-management-appfire.appspot.com/o/cork.avif?alt=media&token=8d074728-e7b6-43bf-a9dd-679b8d305640&_gl=1*rju12u*_ga*MTY4MDk3OTI3Mi4xNjc0NzI1MzA2*_ga_CW55HF8NVT*MTY4NjU4ODU5MS43MS4xLjE2ODY1ODg4MzkuMC4wLjA.");
    width: 80%;
    padding: 35px 20px 90px;
    overflow-x: scroll;
}

.oragnize-smile {
    width: 100%;
}

.loader {
    text-align: center;
    width: 150px;
    margin-left: 40%;
    margin-top: 20%;
}

.edit-task {
    background-color: #007bff;
}

.delete-task {
    background-color: #f44336;
}

.save-task {
    background-color: #4caf50;
}

.edit-input,
.edit-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 20px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 40%;
}

.modal h2 {
    margin-bottom: 10px;
}

.modal label {
    display: block;
    margin-bottom: 5px;
}

.modal input,
.modal textarea,
.modal select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.description-field {
    min-height: 200px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.modal-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-button:first-child {
    margin-left: 0;
}

.category-buttons {
    margin-top: 20px;
    min-width: 70px;
}

.category-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-task {
    background-color: #4caf50;
    width: 100%;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 70px;
}

.confirm-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    width: 350px;
    text-align: center;
}

.confirm-dialog p {
    margin-bottom: 20px;
}

.confirm-dialog button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.confirm-dialog button:hover {
    background-color: #0056b3;
}

.confirm-dialog button:first-of-type {
    background-color: #dc3545;
}

.confirm-dialog button:first-of-type:hover {
    background-color: #a71d2a;
}

.pin {
    position: absolute;
    top: -20px;
    left: 44%;
}

.daily-pin {
    color: red;
}

.weekly-pin {
    color: green;
}

.task {
    flex: 0 1 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fbf6d9;
    border: 2px solid #bfb088;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    min-height: 220px;
    max-height: 300px;
    margin: 0 1% 35px 1%;
}



.task-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.task-description {
    margin-top: 20px;
    text-align: justify;
}

.task-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0%, -50%);
    padding: 0 15px;
    width: 100%;
}

.task-time-created {
    font-size: 14px;
}

.task-buttons {
    display: flex;
}

.task-buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.task-buttons button:hover {
    background-color: #0056b3;
}

.note-content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 50px;
}


.formContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.formWrapper {
    background-color: rgb(113, 168, 184);
    border: 1px solid black;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.formWrapper img {
    max-width: 400px;
}

.formWrapper input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
    font-size: 20px;
}

.formWrapper button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.formWrapper p {
    font-size: 15px;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    background: #007bff;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #fff;
    z-index: 1111;
}

.footer-container p {
    font-weight: bold;
    font-size: 20px;
}

.error-boundary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #f8f8f8;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-boundary h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.error-boundary p {
    font-size: 16px;
    margin-bottom: 10px;
}


@media screen and (max-width:1024px) {
    .content {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .task {
        min-height: auto;
    }
}

@media screen and (max-width:993px) {
    .container {
        flex-direction: column;
    }

    .side-bar,
    .content {
        width: 100%;
    }

    .side-bar {
        display: flex;
    }

    .category-button {
        margin: 0 1%;
    }

    .modal-content {
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    .header {
        flex-direction: column;
    }

    .formWrapper {
        width: 90%;
    }
}